{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true
  },
  "rules": {
    "no-unused-vars": 0,
    "no-console": 0,
    "angular/log": 0,
    "angular/window-service": 0,
    "angular/json-functions": 0,
    "comma-dangle": 0
  }
}
