<div class="row">
  <div class="col-xs-12">
  	<div>App is working</div>
    <img src="assets/img/cat.jpg">
    <div>I am landing Page. You can find me at src/app/section/public/landing/template.html.</div>
    <div>The following links will take you somewhere</div> 
    <ul>
    	<li><div ng-click="LandingCtrl.Goto(LandingCtrl.link1)"><a><i class="fa fa-fw fa-home"></i> dashboard </a></div></li>
    	<li><div ng-click="LandingCtrl.Goto(LandingCtrl.link2)"><a><i class="fa fa-fw fa-times"></i> 404</a></div></li>
    	<li><div ng-click="LandingCtrl.Goto(LandingCtrl.link3)"><a><i class="fa fa-fw fa-unlock-alt"></i> 403</a></div></li>
	</ul>
  </div>
</div>